// Colors
$theme-color-primary: #263238;
$theme-color-secondary: #FF9800;
$theme-color-primary-lighter: #37474F;
$theme-color-background: #FFFFFF;
$theme-color-text-primary: $theme-color-primary;
$theme-color-text-primary-lighter: $theme-color-primary-lighter;
$theme-color-text-secondary: $theme-color-secondary;
$theme-color-text-on-primary: #FFFFFF;
$theme-color-text-on-primary-lighter: #FFFFFF;
$theme-color-text-on-secondary: $theme-color-primary;
$theme-color-text-on-background: $theme-color-primary;

@mixin theme-fill-current-color() {
  fill: currentColor;
}

@mixin theme-text-color-primary() {
  color: $theme-color-text-primary;
  @include theme-fill-current-color();
}
@mixin theme-text-color-primary-lighter() {
  color: $theme-color-text-primary-lighter;
  @include theme-fill-current-color();
}
@mixin theme-text-color-secondary() {
  color: $theme-color-text-secondary;
  @include theme-fill-current-color();
}
@mixin theme-text-color-on-primary() {
  color: $theme-color-text-on-primary;
  @include theme-fill-current-color();
}
@mixin theme-text-color-on-primary-lighter() {
  color: $theme-color-text-on-primary-lighter;
  @include theme-fill-current-color();
}
@mixin theme-text-color-on-secondary() {
  color: $theme-color-text-on-secondary;
  @include theme-fill-current-color();
}
@mixin theme-text-color-on-background() {
  color: $theme-color-text-on-background;
  @include theme-fill-current-color();
}

@mixin theme-bg-color-primary() {
  background-color: $theme-color-primary;
}
@mixin theme-bg-color-primary-lighter() {
  background-color: $theme-color-primary-lighter;
}
@mixin theme-bg-color-secondary() {
  background-color: $theme-color-secondary;
}
@mixin theme-bg-color-background() {
  background-color: $theme-color-background;
}

.theme-text-color-primary {
  @include theme-text-color-primary();
}
.theme-text-color-primary-lighter {
  @include theme-text-color-primary-lighter();
}
.theme-text-color-secondary {
  @include theme-text-color-secondary();
}
.theme-text-color-on-primary {
  @include theme-text-color-on-primary();
}
.theme-text-color-on-primary-lighter {
  @include theme-text-color-on-primary-lighter();
}
.theme-text-color-on-secondary {
  @include theme-text-color-on-secondary();
}
.theme-text-color-on-background {
  @include theme-text-color-on-background();
}

.theme-bg-color-primary {
  @include theme-bg-color-primary();
}
.theme-bg-color-primary-lighter {
  @include theme-bg-color-primary-lighter();
}
.theme-bg-color-secondary {
  @include theme-bg-color-secondary();
}
.theme-bg-color-background {
  @include theme-bg-color-background();
}

// Typograhpy
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');
$typography-font-family: Rubik, sans-serif;

* {
  margin: 0;
  padding: 0;
}

@mixin theme-typography-styles-headline1() {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: 9px;
}

@mixin theme-typography-styles-headline2() {
  font-size: 48px;
  letter-spacing: -0.5px;
}

@mixin theme-typography-styles-headline3() {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0px;
}

@mixin theme-typography-styles-headline4() {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.25px;
}

@mixin theme-typography-styles-headline5() {
  font-size: 18px;
  letter-spacing: 0px;
}

// @mixin theme-typography-styles-headline6() {
// }

@mixin theme-typography-styles-body1() {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
@mixin theme-typography-styles-body2() {
  font-size: 14px;
  letter-spacing: 0.25px;
}
// @mixin theme-typography-styles-subtitle1() {
// }
// @mixin theme-typography-styles-subtitle2() {
// }
// @mixin theme-typography-styles-button() {
// }
// @mixin theme-typography-styles-caption() {
// }
@mixin theme-typography-styles-overline() {
  font-size: 12px;
  letter-spacing: 2px;
}

.theme-typography-headline1 {
  font-family: $typography-font-family;
  @include theme-typography-styles-headline1();
}

.theme-typography-headline2 {
  font-family: $typography-font-family;
  @include theme-typography-styles-headline2();
}

.theme-typography-headline3 {
  font-family: $typography-font-family;
  @include theme-typography-styles-headline3();
}

.theme-typography-headline4 {
  font-family: $typography-font-family;
  @include theme-typography-styles-headline4();
}

.theme-typography-headline5 {
  font-family: $typography-font-family;
  @include theme-typography-styles-headline5();
}

.theme-typography-body1 {
  font-family: $typography-font-family;
  @include theme-typography-styles-body1();
}

.theme-typography-body2 {
  font-family: $typography-font-family;
  @include theme-typography-styles-body2();
}

.theme-typography-overline {
  font-family: $typography-font-family;
  @include theme-typography-styles-overline();
}

// Motions
@import '@material/animation/variables';
